<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Resturent LogIn</h1>
                    <h5>Fell Free To Login</h5>
                    <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()" >
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </form>
               <p> Are You NewUser ? Click to<a routerLink="/singup" > SingIn</a></p>
            </div>
        </div>
    </div>
</div>