<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Resturent Singup</h1>
                    <h5>Get Free Membership </h5>
                    <hr>
                </div>
                <form [formGroup]="singUpForm" (ngSubmit)="singUp()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="number" class="form-label">Mobile No</label>
                        <input formControlName="mobile" type="text" class="form-control" id="number" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">SingIn</button>
                </form>
                <p>If You are And Already a member ? Click to<a routerLink="/login" > Login</a></p>

            </div>
        </div>
    </div>
</div>