<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h2>{{title}}</h2>
      <div class="d-flex">
        <button class="btn btn-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ClickAddrestro()" >Add Resturent</button>
         <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
    </div>
  </nav>
  
  <!-- jumbotron --> 
  <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Resturent Records Management</h1>
          <p class="col-md-8 fs-4">You Can Save Records Of Resturents Using Angular12</p>
          <button class="btn btn-primary btn-lg" type="button">fffffff</button>
      </div>
  </div>
  
  <!-- table -->
  <table class="table table-striped mt-4">
    <thead>
        <tr>
          <th scope="col">Restirent Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Services</th>
          <th scope="col">mobile</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of allResturentData'>
          <th scope="row">{{data.id}}</th>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.address}}</td>
          <td>{{data.services}}</td>
          <td>{{data.mobile}}</td>
          <td>
              <button class="btn btn-info" (click)="onEditResturentData(data)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" >Edit</button>&nbsp;
              <button class="btn btn-danger" (click)="deleteResturentData(data)" >delete</button>
          </td>
        </tr>
      </tbody>
  </table>  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <label for="text" class="form-label">Name</label>
            <input type="name" formControlName="name" class="form-control" id="text" placeholder="Resturent name">
            
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            
            <label for="number" class="form-label">Mobile No</label>
            <input type="text" formControlName="mobile" class="form-control" id="number" placeholder="number">
  
            <label for="texampleFormControlTextarea1ext" class="form-label">Address</label>
            <input type="text" formControlName="address" class="form-control" id="texampleFormControlTextarea1ext" placeholder="Resturent Address">
        
            <label for="exampleFormControlTextarea1" class="form-label">Services</label>
            <input type="text" class="form-control" formControlName="services" id="exampleFormControlTextarea1" placeholder="name of that Services u have">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addResturent()" >Add Details</button>
          <button type="button" *ngIf="showBtn" class="btn btn-primary"  data-bs-dismiss="modal" (click)="updataeResturent()" >update Details</button>
          
        </div>
      </div>
    </div>
  </div>
